---
import { featureFlags } from "../../config/featureFlag";
import { type CollectionEntry, getCollection } from "astro:content";
import Project from "../../layouts/Project.astro";

export async function getStaticPaths() {
  if (!featureFlags.showProjects) {
    return [];
  }

  const projects = await getCollection("projects");

  const filteredProjects = import.meta.env.PROD
    ? projects.filter((project) => !project.data.draft)
    : projects;

  return filteredProjects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}

type Props = CollectionEntry<"projects">;

const project = featureFlags.showProjects ? Astro.props : null;
const { Content } = project ? await project.render() : { Content: null };
---

{
  featureFlags.showProjects && Content && project ? (
    <Project {...project.data}>
      <Content />
    </Project>
  ) : (
    <div class="projects-disabled">
      + <h1>Coming Soon!</h1>+{" "}
      <p>
        We're working on something exciting. Our project showcase will be
        available soon.
      </p>
      + <a href="/">Return to Homepage</a>+{" "}
    </div>
  )
}
