---
import BaseHead from "@astro/base/BaseHead.astro";
import Header from "@astro/header/Header.astro";
import Footer from "@astro/footer/Footer.astro";
import authorConfig from "@config/siteConfig/info.json";
import { getCollection } from "astro:content";
import SpeedInsights from "@vercel/speed-insights/astro";
import ProjectList from "@react/personal/ProjectList/Projectlist";
import { featureFlags } from "@config/featureFlag/featureFlag.json";
const projects = await getCollection("projects");
export const prerender = true;
try {
  if (!featureFlags.showProjects) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<html lang="en">
  <head>
    <BaseHead
      title={`Projects | ${authorConfig.SiteName}`}
      description={`Browse all projects on ${authorConfig.SiteName} and explore categorized content.`}
    />
  </head>

  <body>
    <Header />
    <SpeedInsights />
    <main class="mt-6 sm:mt-4 lg:mt-2 px-4">
      <h1
        class="text-4xl sm:text-5xl lg:text-6xl font-bold text-center mb-4 sm:mb-6"
      >
        Some Things I've Built
      </h1>
      <div>
        <ProjectList projects={projects} client:load />
      </div>
    </main>
    <Footer />
  </body>
</html>
