---
import BaseHead from "@astro/base/BaseHead.astro";
import Header from "@astro/header/Header.astro";
import Footer from "@astro/footer/Footer.astro";
import authorConfig from "@config/siteConfig/info.json";
import { getCollection } from "astro:content";
import SpeedInsights from "@vercel/speed-insights/astro";
import BlogSection from "@react/blog/layout/BlogPost/BlogPost";
import { featureFlags } from "@config/featureFlag/featureFlag.json";
export const prerender = true;

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

try {
  if (!featureFlags.showBlog) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<html lang="en">
  <head>
    <BaseHead
      title={`Articles | ${authorConfig.SiteName}`}
      description={`Browse all articles on ${authorConfig.SiteName} and explore categorized content.`}
    />
  </head>
  <body class="flex flex-col min-h-screen m-0 p-0">
    <Header class="mt-0 pt-0" />
    <SpeedInsights />
    <section class="mt-0 pt-0">
      <BlogSection posts={posts} client:visible />
    </section>
    <section class="mt-auto">
      <Footer />
    </section>
  </body>
</html>
