---
import BaseHead from "../../components/AstroComponent/base/BaseHead.astro";
import Header from "../../components/AstroComponent/header/Header.astro";
import Footer from "../../components/AstroComponent/footer/Footer.astro";
import authorConfig from "../../config/siteConfig/info.json";
import { getCollection } from "astro:content";
import SpeedInsights from "@vercel/speed-insights/astro";
import { featureFlags } from "../../config/featureFlag/featureFlag.json";
import SubjectGrid from "../../components/ReactComponent/personal/Subjects/subjectGride";

export const prerender = false;

const publishedNotes = await getCollection(
  "ms_notes",
  ({ data }) => !data.lecture_draft
);

const subjects = Array.from(
  new Set(publishedNotes.map((note) => note.data.subject))
).map((subject) => ({
  name: subject as string,
  noteCount: publishedNotes.filter((n) => n.data.subject === subject).length,
}));

try {
  if (!featureFlags.showNotes) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<html lang="en">
  <head>
    <BaseHead
      title={`MS Notes | ${authorConfig.SiteName}`}
      description={`Browse categorized notes on ${authorConfig.SiteName}`}
    />
  </head>
  <body>
    <Header />
    <SpeedInsights />

    <main class="pt-0 mt-0">
      <section>
        <SubjectGrid client:visible subjects={subjects} />
      </section>
    </main>

    <Footer />
  </body>
</html>
