---
import BaseHead from "@astro/base/BaseHead.astro";
import Header from "@astro/header/Header.astro";
import Footer from "@astro/footer/Footer.astro";
import authorConfig from "@config/siteConfig/info.json";
import { getCollection, type CollectionEntry } from "astro:content";
import { featureFlags } from "@config/featureFlag/featureFlag.json";
import SubjectGrid from "@react/personal/Subjects/subjectGride";

export const prerender = false;

const publishedNotes = await getCollection(
  "ms_notes",
  ({ data }) => !data.lecture_draft,
);

const subjects = Array.from(
  new Set(
    publishedNotes.map(
      (note: CollectionEntry<"ms_notes">) => note.data.subject,
    ),
  ),
).map((subject: string) => ({
  name: subject as string,
  noteCount: publishedNotes.filter(
    (n: CollectionEntry<"ms_notes">) => n.data.subject === subject,
  ).length,
}));

try {
  if (!featureFlags.showNotes) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<html lang="en">
  <head>
    <BaseHead
      title={`MS Notes | ${authorConfig.SiteName}`}
      description={`Browse categorized notes on ${authorConfig.SiteName}`}
    />
    <Header />
  </head>
  <body class="mt-0 pt-0">
    <main class="pt-15 mt-0">
      <SubjectGrid client:visible subjects={subjects} />
    </main>

    <Footer />
  </body>
</html>
