---
import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";
import SearchSVG from "./nav/SearchSVG.astro";
import LetterSVG from "./nav/LetterSVG.astro";
import authorConfig from "../../../util/info";
import TagSVG from "./nav/TagSVG.astro";
import { featureFlags } from "../../../util/featureFlag";
---

<header>
  <div class="container mx-auto flex justify-between items-center py-4 px-6">
    <h2>
      <a href="/">
        <Image
          src={authorConfig.avator}
          alt="author Avator"
          format="avif"
          width={90}
          height={90}
        />
      </a>
    </h2>

    <nav class="hidden md:flex space-x-6">
      {featureFlags.showBlog && <HeaderLink href="/blog">Articles</HeaderLink>}
      {
        featureFlags.showNewsletter && (
          <HeaderLink href="/newsletter-subscribe">Newsletter</HeaderLink>
        )
      }
      {featureFlags.showAbout && <HeaderLink href="/about">About</HeaderLink>}
      {
        featureFlags.showProjects && (
          <HeaderLink href="/project">Projects</HeaderLink>
        )
      }
      {
        featureFlags.showTags && (
          <HeaderLink href="/tag" style="color: white;">
            <TagSVG />
          </HeaderLink>
        )
      }
      {
        featureFlags.showNewsletter && (
          <HeaderLink href="/newsletter" style="color: white;">
            <LetterSVG />
          </HeaderLink>
        )
      }
      {
        featureFlags.showSearch && (
          <HeaderLink href="/search" style="color: white;">
            <SearchSVG />
          </HeaderLink>
        )
      }
    </nav>
    <button
      class="hamburger block md:hidden focus:outline-none"
      onclick="toggleMenu()"
    >
      <div
        class="hamburger-icon relative w-6 h-1 bg-gray-200 transform transition-all duration-300"
      >
      </div>
      <div
        class="hamburger-icon relative w-6 h-1 bg-gray-200 mt-1.5 transform transition-all duration-300"
      >
      </div>
      <div
        class="hamburger-icon relative w-6 h-1 bg-gray-200 mt-1.5 transform transition-all duration-300"
      >
      </div>
    </button>
  </div>
  <!-- Mobile Menu -->
  <nav
    id="mobile-menu"
    class="hidden flex-col items-center space-y-6 md:hidden mt-4"
  >
    <HeaderLink href="/">Home</HeaderLink>
    {featureFlags.showBlog && <HeaderLink href="/blog">Articles</HeaderLink>}
    {
      featureFlags.showNewsletter && (
        <HeaderLink href="/newsletter-subscribe">Newsletter</HeaderLink>
      )
    }
    {featureFlags.showAbout && <HeaderLink href="/about">About</HeaderLink>}
    {
      featureFlags.showProjects && (
        <HeaderLink href="/project">Projects</HeaderLink>
      )
    }
    {
      featureFlags.showTags && (
        <HeaderLink href="/tag" style="color: white;">
          <TagSVG />
        </HeaderLink>
      )
    }
    {
      featureFlags.showNewsletter && (
        <HeaderLink href="/newsletter" style="color: white;">
          <LetterSVG />
        </HeaderLink>
      )
    }
    {
      featureFlags.showSearch && (
        <HeaderLink href="/search" style="color: white;">
          <SearchSVG />
        </HeaderLink>
      )
    }
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }

  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    text-decoration: none;
  }

  nav a.active {
    text-decoration: none;
  }

  .hamburger-icon {
    transition:
      transform 0.3s ease,
      background-color 0.3s ease;
  }

  .hamburger.open .hamburger-icon:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger.open .hamburger-icon:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .hamburger-icon:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
</style>

<script lang="ts">
  function toggleMenu() {
    const menu = document.getElementById("mobile-menu");
    const hamburger = document.querySelector(".hamburger");
    if (menu && hamburger) {
      menu.classList.toggle("hidden");
      menu.classList.toggle("flex");
      hamburger.classList.toggle("open");
    }
  }
</script>
