---
import HeaderLink from "@astro/header/HeaderLink.astro";
import { Image } from "astro:assets";
import authorConfig from "@config/siteConfig/info.json";
import { featureFlags } from "@config/featureFlag/featureFlag.json";
import TagSVG from "@assets/svg/tag.svg";
import LetterSVG from "@assets/svg/letter.svg";
import SearchSVG from "@assets/svg/search.svg";
import TrendingSVG from "@assets/svg/trending.svg";
import MSNotesSVG from "@assets/svg/msNotes.svg";
import ButtonSVG from "@assets/svg/button.svg";
import WikiSVG from "@assets/svg/wiki.svg";
---

<header>
  <div class="container mx-auto flex justify-between items-center py-4 px-6">
    <h2>
      <a href="/">
        <Image
          src={authorConfig.avator}
          alt="author Avatar"
          format="avif"
          width={90}
          height={90}
        />
      </a>
    </h2>

    <!-- Desktop Navigation -->
    <nav class="hidden md:flex items-center space-x-6">
      {featureFlags.showBlog && <HeaderLink href="/blog">Articles</HeaderLink>}
      {
        featureFlags.showNewsletter && (
          <HeaderLink href="/newsletter-subscribe">Newsletter</HeaderLink>
        )
      }
      {featureFlags.showAbout && <HeaderLink href="/about">About</HeaderLink>}
      {
        featureFlags.showProjects && (
          <HeaderLink href="/project">Projects</HeaderLink>
        )
      }
      {
        featureFlags.showTags && (
          <HeaderLink href="/tag" style="color: white;">
            <TagSVG />
          </HeaderLink>
        )
      }
      {
        featureFlags.showSearch && (
          <HeaderLink href="/search" style="color: white;">
            <SearchSVG />
          </HeaderLink>
        )
      }

      <div class="relative dropdown-group">
        <button id="dropdown-toggle" class="text-white flex items-center">
          <!-- Button SVG -->
          <ButtonSVG class="w-7 h-7 text-white" />
        </button>

        <!-- Dropdown Menu -->
        <div
          id="dropdown-menu"
          class="absolute left-0 hidden bg-gray-800 rounded-lg mt-2 z-50 w-auto min-w-[180px] shadow-md"
        >
          <ul class="py-2 space-y-1">
            {
              featureFlags.showNewsletter && (
                <li class="px-4 py-2 flex items-center space-x-2">
                  <LetterSVG class="w-6 h-6 text-white" />
                  <HeaderLink href="/newsletter" style="color: white;">
                    Newsletter Archive
                  </HeaderLink>
                </li>
              )
            }
            {
              featureFlags.showTrendingPosts && (
                <li class="px-4 py-2 flex items-center space-x-2">
                  <TrendingSVG class="w-6 h-6 text-white" />
                  <HeaderLink href="/trending" style="color: white;">
                    Trending Articles
                  </HeaderLink>
                </li>
              )
            }
            {
              featureFlags.showNotes && (
                <li class="px-4 py-2 flex items-center space-x-2">
                  <MSNotesSVG class="w-6 h-6 text-white" />
                  <HeaderLink href="/ms_notes">MS Note</HeaderLink>
                </li>
              )
            }
            {
              featureFlags.showNotes && (
                <li class="px-4 py-2 flex items-center space-x-2">
                  <WikiSVG class="w-6 h-6 text-white" />
                  <HeaderLink href="/webwiki">Website Wiki</HeaderLink>
                </li>
              )
            }
          </ul>
        </div>
      </div>
    </nav>

    <!-- Hamburger for Mobile -->
    <button
      class="hamburger block md:hidden focus:outline-none"
      onclick="toggleMenu()"
    >
      <div class="hamburger-icon"></div>
      <div class="hamburger-icon mt-1.5"></div>
      <div class="hamburger-icon mt-1.5"></div>
    </button>
  </div>

  <!-- Mobile Menu -->
  <nav
    id="mobile-menu"
    class="hidden flex-col items-center space-y-6 md:hidden mt-4"
  >
    <HeaderLink href="/">Home</HeaderLink>
    {featureFlags.showBlog && <HeaderLink href="/blog">Articles</HeaderLink>}
    {
      featureFlags.showNewsletter && (
        <HeaderLink href="/newsletter-subscribe">Newsletter</HeaderLink>
      )
    }
    {featureFlags.showAbout && <HeaderLink href="/about">About</HeaderLink>}
    {
      featureFlags.showProjects && (
        <HeaderLink href="/project">Projects</HeaderLink>
      )
    }
    {
      featureFlags.showTags && (
        <li class="px-4 py-2 flex items-center space-x-2">
          <TagSVG />
          <HeaderLink href="/tag" style="color: white;">
            Tags
          </HeaderLink>
        </li>
      )
    }
    {
      featureFlags.showNewsletter && (
        <li class="px-4 py-2 flex items-center space-x-2">
          <LetterSVG />
          <HeaderLink href="/newsletter" style="color: white;">
            Newsletter Archive
          </HeaderLink>
        </li>
      )
    }
    {
      featureFlags.showTrendingPosts && (
        <li class="px-4 py-2 flex items-center space-x-2">
          <TrendingSVG />
          <HeaderLink href="/trending" style="color: white;">
            Trending Articles
          </HeaderLink>
        </li>
      )
    }
    {
      featureFlags.showSearch && (
        <li class="px-4 py-2 flex items-center space-x-2">
          <SearchSVG />
          <HeaderLink href="/search" style="color: white;">
            Search
          </HeaderLink>
        </li>
      )
    }
    {
      featureFlags.showNotes && (
        <li class="px-4 py-2 flex items-center space-x-2">
          <MSNotesSVG class="w-6 h-6 text-white" />
          <HeaderLink href="/ms_notes">MS Note</HeaderLink>
        </li>
      )
    }
  </nav>
</header>

<style>
  header {
    padding: 0 1em;
  }

  nav a {
    color: var(--white);
  }

  nav a:hover {
    color: var(--gray);
  }

  .hamburger-icon {
    width: 24px;
    height: 2px;
    background: white;
  }
  #dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #dropdown-menu ul li:hover {
    background-color: #2d3748;
  }
</style>

<script lang="ts">
  function toggleMenu() {
    const menu = document.getElementById("mobile-menu");
    menu?.classList.toggle("hidden");
    menu?.classList.toggle("flex");
  }

  document.addEventListener("click", (event) => {
    const dropdown = document.getElementById("dropdown-menu");
    const dropdownToggle = document.getElementById("dropdown-toggle");

    if (!dropdown || !dropdownToggle) return;

    if (dropdownToggle.contains(event.target)) {
      dropdown.classList.toggle("hidden");
    } else if (
      event.target instanceof Node &&
      !dropdown.contains(event.target)
    ) {
      dropdown.classList.add("hidden");
    }
  });
</script>
