:root {
  --accent: #7aa2f7;
  --accent-dark: #1f2335;
  --black: rgb(8, 12, 17);
  --gray: rgb(76, 80, 106);
  --gray-light: rgb(59, 66, 82);
  --text-light: #f8f8f8;
  --gray-dark: rgb(31, 34, 40);
  --gray-gradient: linear-gradient(135deg, #1a1b26 0%, #414868 100%);
  --box-shadow:
    0 2px 6px rgba(76, 80, 106, 0.25), 0 8px 24px rgba(76, 80, 106, 0.33),
    0 16px 32px rgba(76, 80, 106, 0.33);
}

main {
  --primary-default: 170, 90, 255;
  --bg-default: 27, 0, 57;
  --color-fg-default: var(--text-light);
  --color-fg-muted: rgba(248, 248, 248, 0.8);
  --color-canvas-default: var(--accent-dark);
  --color-canvas-overlay: var(--accent-dark);
  --color-canvas-inset: rgba(var(--accent-dark), 0.85);
  --color-canvas-subtle: rgba(var(--accent-dark), 1);
  --color-border-default: rgba(var(--gray-light), 0.85);
  --color-border-muted: rgba(var(--gray-light), 0.2);
}

.giscus {
  background-color: var(--accent-dark);
  color: var(--text-light);
  border: 1px solid var(--gray-light);
  box-shadow: var(--box-shadow);
}

.giscus textarea,
.giscus input {
  background-color: var(--accent-dark);
  color: var(--text-light);
  border: 1px solid var(--gray-light);
}

main .pagination-loader-container {
  background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg");
}

main .gsc-loading-image {
  background-image: url("https://github.githubassets.com/images/mona-loading-dark.gif");
}

.input-contrast:focus {
  background-color: var(--gray-dark) !important;
}

.gsc-is-fixed-width,
html {
  font-family: Inter, Helvetica, Arial, sans-serif;
}
