:root {
	--accent: #7aa2f7;
	--accent-dark: #1f2335;
	--black: 8, 12, 17;
	--gray: 76, 80, 106;
	--gray-light: 59, 66, 82;
	--text-light: #F8F8F8;
	--gray-dark: 31, 34, 40;
	--gray-gradient: linear-gradient(135deg, #1a1b26 0%, #414868 100%);
	--box-shadow: 0 2px 6px rgba(76, 80, 106, 0.25), 0 8px 24px rgba(76, 80, 106, 0.33),
		0 16px 32px rgba(76, 80, 106, 0.33);
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: var(--accent-dark);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--text-light);
	font-size: 20px;
	line-height: 1.7;
}

main {
	scroll-behavior: smooth;
	width: auto;
	max-width: 90%;
	margin: 3em auto;
	padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--text-light);
	line-height: 1.2;
}

h1 {
	font-size: 3.052em;
	color: var(--text-light);
}

h2 {
	font-size: 2.441em;
	color: var(--text-light);
}

h3 {
	font-size: 1.953em;
	color: var(--text-light);
}

h4 {
	font-size: 1.563em;
	color: var(--text-light);
}

h5 {
	font-size: 1.25em;
	color: var(--text-light);
}

strong,
b {

	font-weight: 700;
	color: var(--text-light);
}

a {
	color: var(--accent);
}

a:hover {
	color: var(--accent);
}

p {
	margin-bottom: 1em;
	color: var(--text-light);
}


ul,
ol {
	color: var(--text-light);
}


.prose p {
	margin-bottom: 2em;
	color: var(--text-light);
}

textarea {
	width: 100%;
	color: var(--text-light);
	font-size: 16px;
}

input {
	color: var(--text-light);
	font-size: 16px;
}

/* Table Styling for Markdown */

table {
	width: 100%;
	border-collapse: collapse;
	margin: 2em 0;
	background-color: rgb(31, 34, 40);
	border-radius: 8px;
	overflow: hidden;
	box-shadow: var(--box-shadow);
}

th,
td {
	padding: 1em;
	text-align: left;
	border: 1px solid rgba(255, 255, 255, 0.1);
	color: var(--text-light);

}

th {
	background-color: var(--gray-light);
	color: var(--accent);
	font-weight: bold;

}

tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.05);
}

tr:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

/* Image Styling for Markdown Content */

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

/* Code block Styling */
pre {
	background-color: rgb(31, 34, 40);
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 1.5em;
	border-radius: 8px;
	box-shadow: var(--box-shadow);
	overflow-x: auto;
	margin: 2em 0;
}

pre::-webkit-scrollbar {
	width: 8px;
	height: 8px;

}

pre::-webkit-scrollbar-track {
	background-color: rgb(31, 34, 40);
	border-radius: 8px;

}

pre::-webkit-scrollbar-thumb {
	background-color: var(--gray-light);

	border-radius: 4px;

	border: 2px solid rgb(31, 34, 40);

}

pre::-webkit-scrollbar-thumb:hover {
	background-color: var(--accent);

}


code {
	background-color: rgba(255, 255, 255, 0.1);
	color: var(--accent);
	padding: 2px 5px;
	border-radius: 4px;
	font-size: 0.9em;
}


pre code {
	color: #cddbf7;
	font-size: 1em;
	font-family: 'Fira Code', monospace;
	line-height: 1.5;
}


pre code .keyword {
	color: #7aa2f7;
}

pre code .string {
	color: #9ece6a;
}

pre code .comment {
	color: #565f89;
}

pre code .function {
	color: #bb9af7;
}


pre>code {
	all: unset;
}


/* Basic blockquote styling */
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 1em 0;
	font-size: 1.333em;
	color: var(--text-light);
}

/* Nested blockquotes */
blockquote blockquote {
	border-left: 4px solid var(--gray-light);
	margin-left: 20px;
	padding-left: 20px;
	font-size: 1.1em;
}

/* Blockquotes with multiple paragraphs */
blockquote p {
	margin: 1em 0;
}

/* Blockquote support for other elements */
blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
	color: var(--accent);
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

blockquote ul,
blockquote ol {
	margin-left: 1.5em;
	color: var(--text-light);

}

blockquote code {
	background-color: rgba(255, 255, 255, 0.1);
	color: var(--accent);
	padding: 2px 5px;
	border-radius: 4px;
}

blockquote a {
	color: var(--accent);
	text-decoration: underline;
}

blockquote a:hover {
	color: var(--accent);
	text-decoration: none;
}

/* Breading Line */
hr {
	border: none;
	color: var(--text-light);
	border-top: 1px solid rgb(var(--gray-light));
}

/* Mltiple Screen Layout */
@media (max-width: 720px) {
	body {
		font-size: 18px;
		color: var(--text-light);
	}

	main {
		color: var(--text-light);
		padding: 1em;
	}
}

.sr-only {
	color: var(--text-light);
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}


[data-transition="enter"],
[data-transition="leave"] {
	transition: opacity 0.5s ease-in-out;
}

[data-transition="enter"] {
	opacity: 0;
}

[data-transition="enter-active"] {
	opacity: 1;
}

[data-transition="leave-active"] {
	opacity: 0;
}


/* Unordered list */
ul {
	list-style-type: disc;
	padding-left: 1.5em;
	margin-bottom: 1em;

}

/* Ordered list */
ol {
	list-style-type: decimal;
	padding-left: 1.5em;
	margin-bottom: 1em;

}

/* List items */
ul li,
ol li {
	margin-bottom: 0.75em;
	line-height: 1.5;
	color: var(--text-light);

}

/* Nested unordered list inside another unordered list */
ul ul {
	list-style-type: circle;
	padding-left: 1.5em;
}

/* Nested ordered list inside an unordered list */
ul ol {
	list-style-type: lower-alpha;
	padding-left: 1.5em;
}

/* Nested unordered list inside an ordered list */
ol ul {
	list-style-type: circle;
	padding-left: 1.5em;
}

ol ol {
	list-style-type: lower-alpha;
	padding-left: 1.5em;

}


ul li::marker,
ol li::marker {
	color: var(--accent);
}