---
import BaseHead from "@astro/base/BaseHead.astro";
import authorConfig from "@config/siteConfig/info.json";
import ErrorPageCompeont from "@react/error/404-Compoent";
export const prerender = true;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Error 404 | ${authorConfig.SiteName}`}
      description={`Oops! The page you are looking for doesn't exist.`}
    />
  </head>
  <body class="flex min-h-screen overflow-hidden">
    <main class="flex h-screen w-full flex-1 items-center justify-center">
      <div
        class="flex w-full flex-col justify-center text-center md:w-1/2 md:text-left"
      >
        <div class="animated-text-container">
          <ErrorPageCompeont client:load />
        </div>
      </div>
    </main>
  </body>
</html>
