---
import BaseHead from "../components/AstroCompoent/base/BaseHead.astro";
import authorConfig from "../config/info";
export const prerender = true;
import SpeedInsights from "@vercel/speed-insights/astro";
import ErrorPageCompeont from "../components/ReaactCompoents/ErroPage/404-Compoent";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={authorConfig?.SiteName ?? ""}
      description={authorConfig?.SiteDescription ?? ""}
    />
    <SpeedInsights />
  </head>
  <body class="min-h-screen overflow-hidden flex">
    <main class="flex flex-1 justify-center items-center w-full h-screen">
      <div
        class="flex flex-col justify-center w-full md:w-1/2 text-center md:text-left"
      >
        <div class="animated-text-container">
          <ErrorPageCompeont client:load />
        </div>
      </div>
    </main>
  </body>
</html>
