---
import BaseHead from "../components/AstroComponent/base/BaseHead.astro";
import authorConfig from "../config/siteConfig/info.json";
import ErrorPageCompeont from "../components/ReactComponent/error/404-Compoent";
export const prerender = true;
import SpeedInsights from "@vercel/speed-insights/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Error 404 | ${authorConfig.SiteName}`}
      description={`Oops! The page you are looking for doesn't exist.`}
    />
    <SpeedInsights />
  </head>
  <body class="min-h-screen overflow-hidden flex">
    <main class="flex flex-1 justify-center items-center w-full h-screen">
      <div
        class="flex flex-col justify-center w-full md:w-1/2 text-center md:text-left"
      >
        <div class="animated-text-container">
          <ErrorPageCompeont client:visible />
        </div>
      </div>
    </main>
  </body>
</html>
