---
export const prerender = true;

import BaseHead from "@components/AstroComponent/base/BaseHead.astro";
import authorConfig from "@config/siteConfig/info.json";
import ServerErrorPage from "@react/error/500-Component";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Server Error | ${authorConfig.SiteName}`}
      description="Something went wrong on our end. Please try again or return to the homepage."
    />
  </head>
  <body class="h-screen overflow-hidden bg-[#1a1b26]">
    <main class="flex h-full w-full items-center justify-center">
      <ServerErrorPage client:load />
    </main>
  </body>
</html>
