---
import BaseHead from "@astro/base/BaseHead.astro";
import Header from "@astro/header/Header.astro";

import JobExperience from "@astro/JobAndExperience/JobExperience.astro";
import authorConfig from "@config/siteConfig/info.json";

import Footer from "@astro/footer/Footer.astro";
import { featureFlags } from "@config/featureFlag/featureFlag.json";

try {
  if (!featureFlags.showAbout) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/400");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={authorConfig?.SiteName ?? ""}
      description={authorConfig?.SiteDescription ?? ""}
    />
    <style>
      @keyframes fadeSlideIn {
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      @keyframes typing {
        from {
          max-inline-size: 0;
        }

        to {
          max-inline-size: 100%;
        }
      }

      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }

        50% {
          border-color: white;
        }
      }
    </style>
  </head>
  <body class="">
    <Header />
    <main class="mt-16">
      <div class="flex flex-col md:flex-row justify-between items-center">
        <div
          class="flex-1 flex flex-col items-center md:items-start mb-8 md:mb-0"
        >
          <div class="w-5/6 h-5/6 mx-auto">
            <img
              src={authorConfig?.picture ?? ""}
              alt="Profile Image"
              class="w-full h-full object-cover"
            />
          </div>
        </div>
        <div class="flex-1 px-4 md:px-0 text-center md:text-left">
          <div class="space-y-4">
            <div
              class="animate-fadeSlideIn opacity-0 translate-y-5 font-bold"
              style="animation-delay: 0.5s;"
            >
              <h2 class="text-5xl">So, who am I?</h2>
            </div>
            <p
              class="animate-fadeSlideIn opacity-0 translate-y-5 font-normal text-justify"
              style="animation-delay: 1s;"
            >
              {authorConfig?.about?.whoAmI ?? ""}
            </p>
            <p
              class="animate-fadeSlideIn opacity-0 translate-y-5 font-normal text-justify"
              style="animation-delay: 1.5s;"
            >
              {authorConfig?.about?.lifeBeyondCode ?? ""}
            </p>
            <p
              class="animate-fadeSlideIn opacity-0 translate-y-5 font-normal text-justify"
              style="animation-delay: 2s;"
            >
              {authorConfig?.about?.continuousLearning ?? ""}
            </p>
          </div>
        </div>
      </div>
      <br />
      <JobExperience />
    </main>
    <Footer class="mt-auto" />
  </body>
</html>
