---
import BaseHead from "@astro/base/BaseHead.astro";
import Footer from "@astro/footer/Footer.astro";
import Header from "@astro/header/Header.astro";
import AboutMe from "@astro/personal/AboutMe/AboutMe.astro";
import { featureFlags } from "@config/featureFlag/featureFlag.json";
import authorConfig from "@config/siteConfig/info.json";

export const prerender = true;

try {
	if (!featureFlags.showAbout) {
		return Astro.redirect("/access-denied");
	}
} catch (_error) {
	return Astro.redirect("/400");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`About Me | ${authorConfig.SiteName}`}
      description={`Learn more about me and my journey.`}
    />
  </head>
  <body class="mt-0 pt-0">
    <Header />
    <main class="pt-15 mt-0">
      <AboutMe />
    </main>
    <Footer class="mt-auto" />
  </body>
</html>
