---
import BaseHead from "@astro/base/BaseHead.astro";
import Footer from "@astro/footer/Footer.astro";
import Header from "@astro/header/Header.astro";
import AboutMe from "@astro/personal/AboutMe/AboutMe.astro";
import { featureFlags } from "@config/featureFlag/featureFlag.json";
import authorConfig from "@config/siteConfig/info.json";

export const prerender = true;

try {
	if (!featureFlags.showAbout) {
		return Astro.redirect("/access-denied");
	}
} catch (_error) {
	return Astro.redirect("/400");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`About Me | ${authorConfig.SiteName}`}
      description={`Learn more about me and my journey.`}
    />

    <style>
      main[data-page="about"] {
        max-width: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
      }
    </style>
  </head>
  <body class="bg-[#1a1b26]">
    <Header />
    <main data-page="about">
      <AboutMe />
    </main>
    <Footer class="mt-auto" />
  </body>
</html>
