---
import BaseHead from "@astro/base/BaseHead.astro";
import Header from "@astro/header/Header.astro";
import authorConfig from "@config/siteConfig/info.json";
import Footer from "@astro/footer/Footer.astro";
import { featureFlags } from "@config/featureFlag/featureFlag.json";
import Expereience from "@react/Experience/ExperienceSection";
import AboutSection from "@components/ReaactCompoents/AboutMe/aboutme";
import SpeedInsights from "@vercel/speed-insights/astro";
export const prerender = true;
try {
  if (!featureFlags.showAbout) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/400");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`About Me | ${authorConfig.SiteName}`}
      description={`Learn more about me and my journey.`}
    />
  </head>
  <body>
    <Header />
    <SpeedInsights />
    <main class="mt-0">
      <section>
        <AboutSection client:load authorConfig={authorConfig} />
      </section>
      <br />
      <Expereience client:visible />
    </main>
    <Footer class="mt-auto" />
  </body>
</html>
