---
import BaseHead from "../components/AstroComponent/base/BaseHead.astro";
import authorConfig from "../config/siteConfig/info.json";
import SpeedInsights from "@vercel/speed-insights/astro";
import ComingSoon from "../components/ReactComponent/error/ComingSoon";
const featureName = Astro.url.searchParams.get("feature") ?? "Exciting Feature";
export const prerender = true;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Access Denied | ${authorConfig.SiteName}`}
      description={`Sorry, you don't have access to this ${featureName}.`}
    />
    <SpeedInsights />
  </head>
  <body>
    <main class="pt-0 mt-0">
      <ComingSoon featureName={featureName} client:visible />
    </main>
  </body>
</html>
