---
import BaseHead from "@astro/base/BaseHead.astro";
import authorConfig from "@config/siteConfig/info.json";
import SpeedInsights from "@vercel/speed-insights/astro";
import ComingSoon from "@react/ErroPage/ComingSoon";
const featureName = Astro.url.searchParams.get("feature") ?? "Exciting Feature";
export const prerender = true;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Access Denied | ${authorConfig.SiteName}`}
      description={`Sorry, you don't have access to this ${featureName}.`}
    />
    <SpeedInsights />
  </head>
  <body class="min-h-screen overflow-hidden flex" role="application">
    <main
      class="flex flex-1 justify-center items-center w-full h-screen"
      role="main"
      aria-label="Feature not available"
    >
      <div
        class="flex flex-col justify-center w-full md:w-1/2 text-center md:text-left"
        role="alert"
        aria-live="polite"
      >
        <ComingSoon featureName={featureName} client:load />
      </div>
    </main>
  </body>
</html>
