---
import BaseHead from "@astro/base/BaseHead.astro";
import Footer from "@astro/footer/Footer.astro";
import Header from "@astro/header/Header.astro";
import ExperienceSection from "@astro/personal/Experience/ExperienceSection.astro";
import { featureFlags } from "@config/featureFlag/featureFlag.json";
import authorConfig from "@config/siteConfig/info.json";

export const prerender = true;
try {
	if (!featureFlags.showExperience) {
		return Astro.redirect("/access-denied");
	}
} catch (_error) {
	return Astro.redirect("/400");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Experience | ${authorConfig.SiteName}`}
      description={`Learn more about my experience.`}
    />

    <style>
      main[data-page="experience"] {
        max-width: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
      }
    </style>
  </head>
  <body class="bg-[#1a1b26]">
    <Header />
    <main data-page="experience">
      <ExperienceSection />
    </main>
    <Footer />
  </body>
</html>
