---
import BaseHead from "../components/AstroComponent/base/BaseHead.astro";
import Header from "../components/AstroComponent/header/Header.astro";
import authorConfig from "../config/siteConfig/info.json";
import Footer from "../components/AstroComponent/footer/Footer.astro";
import { featureFlags } from "../config/featureFlag/featureFlag.json";
import SpeedInsights from "@vercel/speed-insights/astro";
import ExperienceSection from "../components/AstroComponent/personal/Experience/ExperienceSection.astro";
export const prerender = true;
try {
  if (!featureFlags.showExperience) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/400");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Experience | ${authorConfig.SiteName}`}
      description={`Learn more about my experience.`}
    />
  </head>
  <body class="mt-0 pt-15">
    <Header />
    <SpeedInsights />
    <main>
      <ExperienceSection />
    </main>
    <Footer />
  </body>
</html>
