---
import BaseHead from "@astro/base/BaseHead.astro";
import Header from "@astro/header/Header.astro";
import Footer from "@astro/footer/Footer.astro";
import authorConfig from "@config/siteConfig/info.json";
import { featureFlags } from "@config/featureFlag/featureFlag.json";
import SpeedInsights from "@vercel/speed-insights/astro";
import IdeaPannelReact from "@components/ReaactCompoents/IdeaPanel/ideaPanel";
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

try {
  if (!featureFlags.showIdeaPanel) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Ideas Pannel | ${authorConfig.SiteName}`}
      description={`Checkout all ideas on ${authorConfig.SiteName} and explore categorized content.`}
    />
    <SpeedInsights />
  </head>
  <body>
    <Header />

    <main>
      <section>
        <IdeaPannelReact client:idle posts={posts} />
      </section>
      <Footer class="mt-auto" />
    </main>
  </body>
</html>
