---
import BaseHead from "../components/AstroCompoent/base/BaseHead.astro";
import Header from "../components/AstroCompoent/header/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import SocialLinks from "../components/AstroCompoent/SocialMedia/SocialMedia.astro";
import "../styles/home/home-page.css";
export const prerender = true;
import SpeedInsights from "@vercel/speed-insights/astro";
import Footer from "../components/AstroCompoent/footer/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <SpeedInsights />
    <main>
      <section>
        <div class="main-container">
          <div class="side-by-side-containers">
            <div class="left-container">
              <div class="animated-text-container">
                <h1 class="animated-text fade-slide-in">Hi There!</h1>
                <h2 class="animated-text fade-slide-in">I'm Abdul Rafay</h2>
                <p class="animated-text fade-slide-in description">
                  Software Engineer | Full Stack & Flutter Developer
                </p>
                <div class="animated-text fade-slide-in social-links-container">
                  <SocialLinks />
                  <button
                    class="animated-text fade-slide-in connect-button"
                    onclick="window.location.href = '/contact-me';"
                    >Connect with Me</button
                  >
                </div>
              </div>
            </div>
            <div class="right-container">
              <div class="relative flex items-center justify-center">
                <div class="animate-random-blob"></div>
                <img
                  src="/author.jpg"
                  alt="Profile Image"
                  class="relative z-10 w-[26rem] h-[26rem] rounded-full object-cover shadow-2xl"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Next section: Feature Content -->
      <section></section>

      <!-- Subscribe to my newsletter -->

      <!-- Lattest Blog Post -->

      <!-- I will be happy to connect with you  -->

      <!-- footer -->
      <Footer />
    </main>
  </body>
</html>
