---
import BaseHead from "@astro/base/BaseHead.astro";
import Header from "@astro/header/Header.astro";
import Footer from "@astro/footer/Footer.astro";
import SocialLinks from "@astro/SocialMedia/SocialMedia.astro";
import "@styles/home/home-page.css";
import FeaturedPost from "@astro/home/FeaturePost/featurePost.astro";
import LatestPost from "@astro/home/LatestPost/LatestPost.astro";
import SkillsShowcase from "@react/JobSkills/jobSkills";
import ContactFormHome from "@react/ConrtactForm/HomePageContact";
import authorConfig from "@util/info";
import ProfileImage from "@react/HeroSection/ProfileImage";
import Greeting from "@react/HeroSection/Greeting";
import ConnectButton from "@react/HeroSection/ConnectButton";
import { featureFlags } from "@util/featureFlag";
import SpeedInsights from "@vercel/speed-insights/astro";

const { name, jobTitle, position, picture } = authorConfig;
try {
  if (!featureFlags.showIndex) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={authorConfig?.SiteName ?? ""}
      description={authorConfig?.SiteDescription ?? ""}
    />
  </head>
  <body>
    <Header />
    <SpeedInsights />
    <main>
      <section>
        <div class="main-container">
          <div class="side-by-side-containers">
            <div class="left-container">
              <Greeting name={name} jobTitle={jobTitle} position={position} />
              <div class="animated-text fade-slide-in social-links-container">
                <SocialLinks />
              </div>
              <ConnectButton />
            </div>
            <div class="right-container">
              <ProfileImage picture={picture} />
            </div>
          </div>
        </div>
      </section>
      <section style="margin-block-start: 12rem;">
        {featureFlags.showBlog && <FeaturedPost />}
      </section>
      <section style="margin-block-start: 5rem;">
        {featureFlags.showBlog && <LatestPost />}
      </section>

      <section style="margin-block-start: 5rem;">
        <h1 class="text-center text-6xl font-bold mb-6">Tool & Technology</h1>
        <p class="text-center text-lg font-bold mb-6">
          I have experience with these technologies
        </p>
        <SkillsShowcase client:idle />
      </section>

      <section style="margin-block-start: 5rem; margin-block-end: 10rem;">
        <h1 class="text-6xl font-bold text-center text-[#c0caf5] leading-snug">
          I'D BE HAPPY TO CONNECT
          <span
            class="bg-gradient-to-r from-blue-500 via-blue-700 to-teal-600 text-transparent bg-clip-text"
          >
            WITH YOU
          </span>
        </h1>
        <p class="text-center text-lg font-bold mb-6">
          Let's Connect & Build Something Together
        </p>
        <ContactFormHome client:idle />
      </section>

      <Footer class="mt-auto" />
    </main>
  </body>
</html>
