---
import BaseHead from "../components/AstroCompoent/base/BaseHead.astro";
import Header from "../components/AstroCompoent/header/Header.astro";
export const prerender = true;
import SpeedInsights from "@vercel/speed-insights/astro";
import NewsletterReactCompoent from "../components/ReaactCompoents/Newsletter/SubNewsletter/newsletter";
import Footer from "../components/AstroCompoent/footer/Footer.astro";
import authorConfig from "../config/info";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={authorConfig.SiteDescription}
      description={authorConfig.SiteDescription}
    />
  </head>

  <body>
    <Header />
    <SpeedInsights />
    <main>
      <NewsletterReactCompoent client:load />
    </main>
    <Footer class="mt-auto" />
  </body>
</html>
