---
import BaseHead from "../components/AstroCompoent/base/BaseHead.astro";
import Header from "../components/AstroCompoent/header/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
export const prerender = true;
import SpeedInsights from "@vercel/speed-insights/astro";
import NewsletterReactCompoent from "../components/ReaactCompoents/Newsletter/newsletter";
import Footer from "../components/AstroCompoent/footer/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <SpeedInsights />
    <main>
      <NewsletterReactCompoent client:load />
    </main>
    <Footer />
  </body>
</html>
