---
import BaseHead from "@astro/base/BaseHead.astro";
import Header from "@astro/header/Header.astro";
import NewsletterReactCompoent from "@react/Newsletter/SubNewsletter/newsletter";
import Footer from "@astro/footer/Footer.astro";
import authorConfig from "@config/siteConfig/info.json";
import { featureFlags } from "@config/featureFlag/featureFlag.json";
import SpeedInsights from "@vercel/speed-insights/astro";
export const prerender = false;
try {
  if (!featureFlags.showNewsletter) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Newsletter Subscribe | ${authorConfig.SiteName}`}
      description={`Subscribe to my newsletter and get updates on my latest projects.`}
    />
  </head>

  <body>
    <Header />
    <SpeedInsights />
    <NewsletterReactCompoent client:load />
    <Footer class="mt-auto" />
  </body>
</html>
