---
import BaseHead from "../components/AstroCompoent/base/BaseHead.astro";
import Header from "../components/AstroCompoent/header/Header.astro";
export const prerender = true;
import SpeedInsights from "@vercel/speed-insights/astro";
import NewsletterReactCompoent from "../components/ReaactCompoents/Newsletter/SubNewsletter/newsletter";
import Footer from "../components/AstroCompoent/footer/Footer.astro";
import authorConfig from "../config/info";

import { featureFlags } from "../config/featureFlag";

try {
  if (!featureFlags.showNewsletter) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={authorConfig?.SiteName ?? ""}
      description={authorConfig?.SiteDescription ?? ""}
    />
  </head>

  <body>
    <Header />
    <SpeedInsights />
    <main>
      <NewsletterReactCompoent client:load />
    </main>
    <Footer class="mt-auto" />
  </body>
</html>
