---
import BaseHead from "../components/AstroCompoent/base/BaseHead.astro";
import Header from "../components/AstroCompoent/header/Header.astro";
import Footer from "../components/AstroCompoent/footer/Footer.astro";
import { getCollection } from "astro:content";
import authorConfig from "../config/info";
const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

import SearchReactCompoent from "../components/ReaactCompoents/SearchField/SearchField";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={authorConfig.SiteName}
      description={authorConfig.SiteDescription}
    />
    <style>
      main {
        width: 960px;
      }
    </style>
  </head>

  <body>
    <Header />
    <main class="max-w-screen-lg mx-auto px-4">
      <h1 class="text-center text-6xl font-bold mb-6">Search Articles</h1>
      <div>
        <SearchReactCompoent client:load posts={posts} />
      </div>
    </main>
    <Footer />
  </body>
</html>
