---
import BaseHead from "../components/AstroComponent/base/BaseHead.astro";
import Header from "../components/AstroComponent/header/Header.astro";
import Footer from "../components/AstroComponent/footer/Footer.astro";
import { getCollection } from "astro:content";
import authorConfig from "../config/siteConfig/info.json";
import SearchReactComponent from "../components/ReactComponent/blog/metadata/SearchField/SearchField";
import { featureFlags } from "../config/featureFlag/featureFlag.json";
export const prerender = true;
const posts = featureFlags.showBlog
  ? (await getCollection("blog")).sort(
      (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
    )
  : [];

try {
  if (!featureFlags.showSearch) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Search | ${authorConfig.SiteName}`}
      description={`Search for articles on ${authorConfig.SiteName} and explore categorized content.`}
    />
    <style>
      main {
        inline-size: 960px;
      }
    </style>
  </head>

  <body class="flex flex-col min-h-screen">
    <Header />
    <main class="flex-grow mx-auto py-8 mt-0 pt-0">
      <div>
        <SearchReactComponent client:visible posts={posts} />
      </div>
    </main>
    <Footer class="mt-auto" />
  </body>
</html>
