---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseHead from "@astro/base/BaseHead.astro";
import Footer from "@astro/footer/Footer.astro";
import Header from "@astro/header/Header.astro";
import { featureFlags } from "@config/featureFlag/featureFlag.json";
import authorConfig from "@config/siteConfig/info.json";
import SearchReactComponent from "@react/blog/metadata/SearchField/SearchField";

export const prerender = true;
const posts = featureFlags.showBlog
	? (await getCollection("blog"))
			.filter(
				(post: CollectionEntry<"blog">) =>
					!post.data.draft && !post.data.archived,
			)
			.sort(
				(a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
					a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
			)
	: [];

try {
	if (!featureFlags.showSearch) {
		return Astro.redirect("/access-denied");
	}
} catch (_error) {
	return Astro.redirect("/404");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Search | ${authorConfig.SiteName}`}
      description={`Search for articles on ${authorConfig.SiteName} and explore categorized content.`}
    />
    <style>
      main {
        inline-size: 960px;
      }
    </style>
  </head>

  <body class="flex min-h-screen flex-col">
    <Header />
    <main class="mx-auto flex-grow">
      <div>
        <SearchReactComponent client:load posts={posts} />
      </div>
    </main>
    <Footer class="mt-auto" />
  </body>
</html>
