---
import BaseHead from "../components/AstroCompoent/base/BaseHead.astro";
import Header from "../components/AstroCompoent/header/Header.astro";
import Footer from "../components/AstroCompoent/footer/Footer.astro";
import { getCollection } from "astro:content";
import authorConfig from "../config/info";
import SearchReactCompoent from "../components/ReaactCompoents/SearchField/SearchField";
import { featureFlags } from "../config/featureFlag";
// Content Collection
const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
const newsletter = (await getCollection("newsletter")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
// Feature Flags
if (!featureFlags.showSearch) {
  return Astro.redirect("/404");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={authorConfig?.SiteName ?? ""}
      description={authorConfig?.SiteDescription ?? ""}
    />
    <style>
      main {
        inline-size: 960px;
      }
    </style>
  </head>

  <body class="flex flex-col min-h-screen">
    <Header />
    <main class="flex-grow mx-auto py-8">
      <h1 class="text-center text-6xl font-bold mb-6">Search Articles</h1>
      <div>
        <SearchReactCompoent client:idle posts={posts} />
      </div>
    </main>
    <Footer class="mt-auto" />
  </body>
</html>
