---
import { getCollection } from "astro:content";

import BaseHead from "@astro/base/BaseHead.astro";
import Header from "@astro/header/Header.astro";
import Footer from "@astro/footer/Footer.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import authorConfig from "@config/info.json";
import TagFilter from "@react/Tags/Tags";
import { featureFlags } from "@util/featureFlag";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

try {
  if (!featureFlags.showTags) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<html lang="en">
  <head>
    <BaseHead
      title={`Tags | ${authorConfig.SiteName}`}
      description={`Browse all tags on ${authorConfig.SiteName} and explore categorized content.`}
    />
  </head>

  <body>
    <Header />
    <SpeedInsights />
    <main class="w-full max-w-5xl mx-auto px-4 py-8">
      <article>
        <h1 class="text-6xl font-bold text-center mb-8">Tags</h1>
        <div>
          <TagFilter client:idle posts={posts} />
        </div>
      </article>
    </main>
    <Footer class="mt-auto" />
  </body>
</html>
