---
import { getEntry } from "astro:content";
import { featureFlags } from "@config/featureFlag/featureFlag.json";
import Legal from "@layouts/Legal.astro";

export const prerender = true;

try {
	if (!featureFlags.showTermsOfService) {
		return Astro.redirect("/access-denied");
	}
} catch (_error) {
	return Astro.redirect("/404");
}

const entry = await getEntry("legal", "terms-and-conditions");

if (!entry) {
	return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

{
  Content ? (
    <Legal
      title={entry.data.title}
      description={entry.data.description}
      lastUpdated={entry.data.lastUpdated}
    >
      <Content />
    </Legal>
  ) : (
    <p>Failed to load the terms and conditions.</p>
  )
}
