---
import { featureFlags } from "../../../config/featureFlag";

try {
  if (!featureFlags.showBlog) {
    return Astro.redirect("/403");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<section class="giscus mx-auto mt-10 w-full">
  <script
    src="https://giscus.app/client.js"
    data-repo="rafay99-epic/Astro-Portfolio-Blog"
    data-repo-id="R_kgDOMZI1RA"
    data-category="Q&A"
    data-category-id="DIC_kwDOMZI1RM4ChJFB"
    data-mapping="title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="1"
    data-input-position="top"
    data-theme="https://raw.githubusercontent.com/rafay99-epic/Astro-Portfolio-Blog/refs/heads/main/src/styles/global.css"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
</section>
