.side-by-side-containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-container,
.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.animated-text-container {
    align-items: flex-start;
}

.animated-text {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideIn 1s forwards;
    animation-delay: 0.5s;
    font-weight: bold;
}

.animated-text:nth-child(2) {
    animation-delay: 1s;
}

.animated-text:nth-child(3) {
    animation-delay: 1.5s;
}

@keyframes fadeSlideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.description {
    font-size: 1.25rem;
    margin-top: 1rem;
}



.social-links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

.connect-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--accent);
    color: var(--text-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.connect-button:hover {
    background-color: var(--accent-dark);
}

.lottie-animation-container {
    width: 70%;
    height: 70%;
    margin: auto;
}

@keyframes typing {
    from {
        max-width: 0;
    }

    to {
        max-width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

@media (max-width: 768px) {
    .side-by-side-containers {
        flex-direction: column;
        align-items: center;
    }

    .animated-text-container {
        align-items: center;
        text-align: center;
        margin-top: -6rem;

        .connect-button {
            align-self: center;
            margin-bottom: 5rem;
        }

        .left-container,
        .right-container {
            width: 100%;
            margin-bottom: 2rem;
        }

        .left-container {
            order: 1;
        }

        .right-container {
            order: 2;
        }
    }

    .connect-button {
        align-self: center;
        margin-bottom: 2rem;
    }

    .social-links-container {
        align-self: center;
    }

}

@keyframes randomBlobShift {

    0%,
    100% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
        transform: translate(0, 0) scale(1);
    }

    25% {
        border-radius: 60% 40% 70% 30% / 30% 60% 40% 70%;
        transform: translate(-20px, 30px) scale(1.1);
    }

    50% {
        border-radius: 40% 60% 50% 50% / 70% 30% 60% 40%;
        transform: translate(20px, -30px) scale(0.9);
    }

    75% {
        border-radius: 70% 30% 40% 60% / 50% 50% 40% 60%;
        transform: translate(-30px, 20px) scale(1.2);
    }
}

.animate-random-blob {
    background: linear-gradient(135deg, #7aa2f7, #414868);
    animation: randomBlobShift 6s ease-in-out infinite;
    width: 30rem;
    height: 30rem;
    position: absolute;
    opacity: 0.8;
    filter: blur(100px);
    transform-origin: center;
}

.main-container {
    margin-top: 4rem;
}

#next-button {
    cursor: pointer;
}

#next-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.grid {
    transition: all 0.3s ease-in-out;
}