---
// NOTE: Archived posts render under /blog/archive to keep them out of /blog.
import { featureFlags } from "@config/featureFlag/featureFlag.json";
import { type CollectionEntry, getCollection, render } from "astro:content";
import BlogPost from "@layouts/BlogPost.astro";
export const prerender = true;

export async function getStaticPaths() {
  if (!featureFlags.showBlog) {
    return [];
  }

  const posts = await getCollection("blog");

  const archivedPosts = posts.filter(
    (post: CollectionEntry<"blog">) => !post.data.draft && post.data.archived,
  );

  return archivedPosts.map((post: CollectionEntry<"blog">) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;

const { remarkPluginFrontmatter } = await render(post);

const { Content } = featureFlags.showBlog
  ? await post.render()
  : { Content: null };
---

{
  featureFlags.showBlog ? (
    Content ? (
      <BlogPost
        {...post.data}
        readTime={remarkPluginFrontmatter.minutesRead}
        isArchive={true}
      >
        <Content />
      </BlogPost>
    ) : (
      <p>Failed to load blog content.</p>
    )
  ) : (
    <p>Blog is currently disabled.</p>
  )
}
