.social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.social-links a {
    text-decoration: none;
    color: var(--text-light);
}

.social-links a:hover {
    color: var(--text-light);
}