---
const today = new Date();
import SocialLinks from "../SocialMedia/SocialMedia.astro";
---

<footer
  class="max-w-5xl mx-auto px-4 py-12 flex flex-col items-center justify-center space-y-8"
>
  <div class="w-full flex justify-center">
    <SocialLinks class="space-x-4" />
  </div>

  <nav class="flex flex-wrap justify-center gap-6 text-sm">
    <a href="/privacy-policy" class="text-accent hover:text-white transition"
      >Privacy Policy</a
    >
    <a
      href="/terms-and-conditions"
      class="text-accent hover:text-white transition">Terms & Conditions</a
    >
    <a href="/about" class="text-accent hover:text-white transition">About Us</a
    >
    <a href="/contact-me" class="text-accent hover:text-white transition"
      >Contact</a
    >
  </nav>

  <div class="flex flex-col items-center space-y-4">
    <a href="https://astro.build" class="transition hover:opacity-80">
      <img
        src="https://astro.badg.es/v2/built-with-astro/small.svg"
        alt="Built with Astro"
        class="w-48 h-8"
      />
    </a>
    <div class="text-accent3 text-xs">
      &copy; {new Date().getFullYear()} Abdul Rafay. All rights reserved.
    </div>
  </div>
</footer>
