---
const today = new Date();
import SocialLinks from "@astro/SocialMedia/SocialMedia.astro";
import { featureFlags } from "@util/featureFlag";
---

<footer class="text-white py-8">
  <div
    class="container mx-auto flex flex-col md:flex-row justify-between items-center space-y-6 md:space-y-0"
  >
    <!-- Social Links Section -->
    <div class="flex justify-center space-x-4">
      <SocialLinks class="space-x-4" />
    </div>

    <!-- Navigation Links Section -->
    <nav class="flex flex-wrap justify-center gap-4 text-sm">
      {
        featureFlags.showPrivacyPolicy && (
          <a
            href="/privacy-policy"
            class="text-accent hover:text-gray-300 transition"
          >
            Privacy Policy
          </a>
        )
      }
      {
        featureFlags.showTermsandConditions && (
          <a
            href="/terms-and-conditions"
            class="text-accent hover:text-gray-300 transition"
          >
            Terms & Conditions
          </a>
        )
      }
      {
        featureFlags.showTrendingPosts && (
          <a
            href="/trending"
            class="text-accent hover:text-gray-300 transition"
          >
            Trending Posts
          </a>
        )
      }
      {
        featureFlags.showAbout && (
          <a href="/about" class="text-accent hover:text-gray-300 transition">
            About Us
          </a>
        )
      }
      {
        featureFlags.showContact && (
          <a
            href="/contact-me"
            class="text-accent hover:text-gray-300 transition"
          >
            Contact
          </a>
        )
      }
    </nav>

    <!-- Branding Section -->
    <div class="flex flex-col items-center space-y-2">
      <a href="https://astro.build" class="transition hover:opacity-80">
        <img
          src="https://astro.badg.es/v2/built-with-astro/small.svg"
          alt="Built with Astro"
          class="w-48 h-8"
        />
      </a>
      <div class="text-gray-400 text-xs text-center">
        &copy; {new Date().getFullYear()} Abdul Rafay. All rights reserved.
      </div>
    </div>
  </div>
</footer>
