---
import BaseHead from "../../components/AstroCompoent/base/BaseHead.astro";
import Header from "../../components/AstroCompoent/header/Header.astro";
import Footer from "../../components/AstroCompoent/footer/Footer.astro";
import authorConfig from "../../config/info";
import { getCollection } from "astro:content";
import SpeedInsights from "@vercel/speed-insights/astro";
import Newsletter from "../../components/ReaactCompoents/Newsletter/ListNewsletter/NewsletterList";
import { featureFlags } from "../../config/featureFlag";

try {
  if (!featureFlags.showNewsletter) {
    return Astro.redirect("/403");
  }
} catch (error) {
  return Astro.redirect("/404");
}

const newsletters = await getCollection("newsletter");
---

<html lang="en">
  <head>
    <BaseHead
      title={authorConfig?.SiteName ?? ""}
      description={authorConfig?.SiteDescription ?? ""}
    />
  </head>
  <body>
    <Header />
    <SpeedInsights />
    <Newsletter newsletters={newsletters} client:load />

    <Footer />
  </body>
</html>
