---
import BaseHead from "@astro/base/BaseHead.astro";
import Header from "@astro/header/Header.astro";
import Footer from "@astro/footer/Footer.astro";

import authorConfig from "@util/info";
import { getCollection } from "astro:content";
import SpeedInsights from "@vercel/speed-insights/astro";
import Newsletter from "@react/Newsletter/ListNewsletter/NewsletterList";
import { featureFlags } from "@util/featureFlag";

try {
  if (!featureFlags.showNewsletter) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}

const newsletters = await getCollection("newsletter");
---

<html lang="en">
  <head>
    <BaseHead
      title={authorConfig?.SiteName ?? ""}
      description={authorConfig?.SiteDescription ?? ""}
    />
  </head>
  <body>
    <Header />
    <SpeedInsights />
    <Newsletter newsletters={newsletters} client:load />

    <Footer />
  </body>
</html>
