---
import BaseHead from "../../components/AstroComponent/base/BaseHead.astro";
import Header from "../../components/AstroComponent/header/Header.astro";
import Footer from "../../components/AstroComponent/footer/Footer.astro";

import authorConfig from "../../config/siteConfig/info.json";
import { getCollection } from "astro:content";
import SpeedInsights from "@vercel/speed-insights/astro";
import Newsletter from "../../components/ReactComponent/newsletter/ListNewsletter/NewsletterList";
import { featureFlags } from "../../config/featureFlag/featureFlag.json";
export const prerender = true;

try {
  if (!featureFlags.showNewsletter) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}

const newsletters = await getCollection("newsletter");
---

<html lang="en">
  <head>
    <BaseHead
      title={`Newsletter | ${authorConfig.SiteName}`}
      description={`Subscribe to my newsletter and get updates on my latest projects.`}
    />
  </head>
  <body>
    <Header />
    <SpeedInsights />
    <Newsletter newsletters={newsletters} client:visible />

    <Footer />
  </body>
</html>
