---
export const prerender = false;

import WebWikiSlider from "@react/ChangeLog/ChangeLog";
import { getCollection } from "astro:content";

const wikiCollection = await getCollection("webwiki");

const wikiData = wikiCollection
  .filter((entry) => entry.data.tags.includes("Major Release"))
  .sort((a, b) => {
    const versionA = a.data.version.split(".").map(Number);
    const versionB = b.data.version.split(".").map(Number);

    for (let i = 0; i < Math.max(versionA.length, versionB.length); i++) {
      const numA = versionA[i] || 0;
      const numB = versionB[i] || 0;
      if (numA !== numB) return numB - numA;
    }
    return 0;
  })
  .map((entry) => ({
    ...entry.data,
    slug: entry.slug,
    pubDate: entry.data.pubDate.toISOString(),
    versionreleasedate: entry.data.versionreleasedate.toISOString(),
  }));
---

<section class="margin-block-start: 5rem;">
  <WebWikiSlider wikiData={wikiData} client:load />
</section>
